<div class="hero topic-hero course-hero">
    <div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/courses">All Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{course.title}}</li>
        </ol>
    </nav> -->

    <h1>{{course.title}}</h1>

    <div class="hero-actions">
        {% if user_project %}
        <div class="btn btn-primary">Continue &rarr;</div>
        {% elif user %}
            <form method="POST">
                <button type="submit" class="btn btn-primary">Start Learning &rarr;</button>
            </form>
        {% else %}
            <a class="course-cta" href="/auth/login?next={{course.get_url()}}">Start Learning &rarr;</a>
        {% endif %}
    </div>
    </div>
</div>

<div class="course-page">
    <div class="container">
    <div class="course-outline">
        <h3>Course Outline</h3>

        {% for module in course.get_modules() %}
        <div class="module-title">{{loop.index}}. {{module.title}}</div>
            {% for lesson in module.get_lessons() %}
                <div class="lesson-title"><a href="{{lesson.get_url()}}">{{lesson.title}}</a></div>
            {% endfor %}
        {% endfor %}
    </div>
</div>