Flask
Jinja2==3.0.3
web.py
markdown
requests
pyyaml==6.0
beautifulsoup4==4.11.1
Click
git+https://github.com/pipalacademy/toolkit.git#egg=toolkit
git+https://github.com/pipalacademy/kutty.git#egg=kutty
pydantic==1.10.6
tabulate==0.9.0
