Flask
Jinja2>=3.0.3
web.py
markdown
requests
pyyaml>=6.0
beautifulsoup4>=4.11.1
Click
git+https://github.com/pipalacademy/toolkit.git#egg=toolkit
git+https://github.com/pipalacademy/kutty.git#egg=kutty
pydantic>=1.10.6
gunicorn>=20.1
git+https://github.com/pipalacademy/capstone-checker@main
cookiecutter>=2.1.1
python-dotenv==1.0.0
