{% set tasks = project.get_tasks() %}

<div class="hero topic-hero project-hero">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/projects">All Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{project.title}}</li>
        </ol>
    </nav>

    <h1>{{project.title}}</h1>

    <div class="project-short">
        {{project.short_description | markdown}}
    </div>

    <div class="hero-actions">
        {% if user_project %}
            {% set current_task_status = user_project.get_in_progress_task_status() %}
            {% if current_task_status %}
                <a href="{{current_task_status.get_task().get_url()}}" class="project-cta">Continue &rarr;</a>
            {% elif tasks %}
                {# default to first task #}
                <a href="{{tasks[0].get_url()}}" class="project-cta">Continue &rarr;</a>
            {% else %}
                <button href="#" class="project-cta disabled my-0">No tasks</button>
            {% endif %}
        {% elif user %}
            <form method="POST">
                <button type="submit" class="project-cta">Start Project</button>
            </form>
        {% else %}
            <a class="project-cta" href="/auth/login?next={{project.get_url()}}">Start Project</a>
        {% endif %}
    </div>
    </div>
</div>


 <div class="project-page">
    <div class="container">
        <h2>Description</h2>
    <div>
        {{project.description | markdown}}
    </div>

    <h2>Tasks</h2>

    {% for task in tasks %}
        <div class="project-task-title">{{loop.index}}. {{task.title}}</div>
    {% endfor %}
</div>
</div>

</div>
