{% extends "base.html" %}

{% macro CheckStatus(check) %}
{% set style = "success" if check.status == "pass" else "danger" %}
{% set icon = "check" if check.status == "pass" else "times" %}
<div class="box is-check has-background-{{ style }}-light">
  <p class="has-text-{{ style }}-dark">
    <span class="icon"><i class="fas fa-{{ icon }}"></i></span>
    {{ check.title }}
  </p>
  {% if check.message %}
  <pre>{{ check.message }}</pre>
  {% endif %}
</div>
{% endmacro %}

{% macro TaskCard(idx, task) %}
{% if task.status == "locked" %}
<div class="card has-background-light">
  <header class="card-header">
    <p class="card-header-title">
      <span class="task-number">{{ idx }}</span> {{ task.title }}
    </p>

    <button class="card-header-icon">
      <span class="icon">
        <i class="fas fa-lock"></i>
      </span>
    </button>
  </header>
</div>
{% else %}
<div class="card is-collapsible
{{ 'is-active has-background-warning-light' if task.status == 'current' }}">
  <header class="card-header">
    <p class="card-header-title">
      <span class="task-number">{{ idx }}</span> {{ task.title }} &nbsp;
      {% if task.status == 'pass' %}
      <i class="fas fa-check-circle has-text-success-dark"></i>
      {% elif task.status == 'fail' %}
      <i class="fas fa-times-circle has-text-danger-dark"></i>
      {% endif %}
    </p>
    <button class="card-header-icon" data-toggle="collapse" aria-label="more options">
      <span class="icon is-hidden-when-expanded">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
      </span>
      <span class="icon is-hidden-when-collapsed">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>

  <div class="card-content is-hidden-when-collapsed">
    <div class="content">
      <p>{{ task.description | markdown_to_html }}</p>
      {% if task.form %}
      <form class="my-2" method="POST">
        <input type="hidden" name="task_name" id="task_name" value="{{ task.name }}">
        <p>{{ task.form.description | markdown_to_html }}</p>
        {% for input in task.form['inputs'] %}
        {% set value = task.form['values'][input.name] %}
        <div class="field">
          {# TODO: Use previously submitted values as
                   default values from database #}
          {{ make_input_html(input, value or "") | safe }}
        </div>
        {% endfor %}
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
      {% endif %}
      {% if task.checks %}
      <h4>Checks</h4>
      {% for check in task.checks %}
      {{ CheckStatus(check) }}
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>
{% endif %}
{% endmacro %}

{% block navbar_menu_extra %}
<div class="navbar-item navbar-progress">
  <progress class="progress is-medium is-info" value="{{ progress }}" max="100">{{ progress }}%</progress>
</div>
{% endblock %}


{% block content %}
<div class="dashboard">
  <div class="mt-5"></div>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% set message_classes = dict(
      info="is-info",
      error="is-danger",
      success="is-success"
      ) %}
    {% if messages %}
      {% for category, message in messages %}
      <article class="message {{ message_classes[category] or 'is-info' }}">
        <div class="message-body">
          {{ message }}
        </div>
      </article>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="columns">
    <div class="column">
      {% for task in tasks %}
      {{ TaskCard(loop.index, task) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
