:root {
    --c1: #f4ebd0;
    --c2: #fff;
}


#home-hero {
    background: var(--c1);
    margin-top: 0px !important;
}

body {
    background: var(--c2);
    color: #444;
}

nav {
    background: var(--c1);
}

.task-checks pre {
    padding: 10px;
    border-radius: 5px;
    background: #eee;
    border: 1px solid #ddd;
}


.navbar-item {
    font-size: 1.125rem;
}
.navbar-brand {
    font-weight: bold;
}

.dashboard .card {
    margin: 10px 0px;
}

.task-number {
    /* display: inline-block; */
    background: #ddd;
    padding: 3px 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 25%;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;;
}

.navbar .navbar-progress {
    width: 100%;
}

div.is-check pre {
    background: inherit;
    padding-left: 5px;
}
.login-card {
    border-radius: 10px;
}

.is-collapsible:not(.is-active) .is-hidden-when-collapsed {
    display: none;
}

.is-collapsible.is-active .is-hidden-when-expanded {
    display: none;
}

.column {
    max-width: 100%;
}
