:root {

    --color1: #c9c3e6;
    --color2: #6762a6;

    --color3: #79589F;

    --color4: #4A4090;

    --text-color: #212529;

    --color-neutral-muted: rgba(175, 184, 193, 0.2);


    --page-bg: rgb(245, 245, 245);
    --hero-bg: #DFDBE5;

    --hero-bg: var(--color4);
    --hero-title: white;
    --hero-text: var(--color1);

    --heading-color: --var(color3);
}

body {
    /* background-color: #e9ecef; */
    background-color: var(--page-bg);
    font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--heading-color);
}

pre {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.hero {
    background-color: var(--hero-bg);
    color: var(--hero-text);
}

.hero h1.hero-title {
    color: var(--hero-title);
    font-size: 1.8em;
    margin-bottom: 20px;
}

.hero p {
    font-weight: 300;
    line-height: 1.5;
}

.teaser-card {
    border-radius: 10px;
    box-shadow: rgba(25, 39, 52, 0.06) 0px 4px 8px 0px, rgba(25, 39, 52, 0.12) 0px 0px 4px 0px;
}

.hero-image {
    width: 340px;
    float: right;
    padding: 20px;
}

.hero-body {
    margin-right: 340px;
}

.navbar-brand {
    color: #333 !important;
    font-weight: 500;
}

.navbar.bg-light {
    background-color: white !important;
    border-bottom: 1px solid #e0e0e0;
}

.section h2 {
    margin-bottom: 40px;
}

.section {
    padding-top: 60px;
}

code {
    color: inherit;
    padding: .2em .4em;
    border-radius: 6px;
    background-color: var(--color-neutral-muted);
    font-size: 0.9em;
}

pre code {
    padding: none;
    margin: none;
    font-size: inherit;
    color: inherit;
    border-radius: none;
    background-color: inherit;
}